footer.footer-section
    .container
        .row
            .col.col-xs-12
                .footer-area


                    p
                        | Copyright 2025, Hecho con amor por
                        a(href="https://mikerosasdev.com")  MikeRosasDev