footer.footer-section
    .container
        .row
            .col.col-xs-12
                .footer-area
                    .couple-name
                        h2
                            | Elena
                            br
                            | &
                            br
                            | Ricardo

                    p
                        | Copyright 2025, Hecho con amor por
                        a(href="https://mikerosasdev.com")  MikeRosasDev