// Sección de Lista de Regalos

section.gift-registry-section.section-padding.p-t-1#gift
    .container
        .row
            .col.col-lg-6.col-lg-offset-3.text-center
                .section-title-s2
                    h2 Mesa de regalos
                    p.text-dark Nos hace muy felices compartir este día contigo.
                    p.text-dark.mb-0 Aunque habrá mesa de regalos presencial,
                        strong el mejor regalo es tu presencia.