// Start header
header#header.site-header.header-style-2
    nav.navigation.navbar.navbar-default
        .container
            .navbar-header
                button.open-btn(type="button")
                    span.sr-only Alternar navegación
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/")
                    | Ricardo & Elena

            #navbar.navbar-collapse.collapse.navbar-right.navigation-holder
                button.close-navbar
                    i.ti-close
                ul.nav.navbar-nav
                    li.menu-item-has-children
                        a(href="/") Inicio

                    li: a(href="#date_wedding") Fecha
                    li: a(href="#story") Programa



                    li: a(href="#couple") Ubicación
                    li: a(href="#gift") Mesa de regalos

                    li: a(href="#rsvp") Confirmar Asistencia


                    li: a(href="#gallery") Galería
