// Hero section
section.hero-slider.hero-static
    .wedding-announcement
        .couple-text
            h3#curve-text ¡Nos casamos!
            h2.wow.slideInUp.couple-name(data-wow-duration="1s") Elena & Ricardo
    .slide-inner.slide-bg-image(data-background="assets/images/img_er/2.jpeg")
    .ripple