// Preloader
.preloader
    .middle
        i.fi.flaticon-favorite-heart-button
        i.fi.flaticon-favorite-heart-button
        i.fi.flaticon-favorite-heart-button
        i.fi.flaticon-favorite-heart-button