// Love story → Programa del evento
section.love-sotry-section.section-padding#story
    .container
        .row
            .col.col-xs-12
                .section-title
                    h2 Programa del evento
        .row
            .col.col-xs-12
                .story-grids
                    .grid
                        h3 Recepción de invitados
                        p 2:00 PM - Bienvenida a los invitados en Quinta La Herradura
                    .grid
                        h3 Ceremonia
                        p 3:00 PM - Inicio de la ceremonia de boda
                    .grid
                        h3 Banquete y celebración
                        p 4:00 PM - Comida, música y celebración
                    .grid
                        h3 Apertura barras snacks
                        p 6:00 PM - Disfruta de una variedad de snacks
                    .grid
                    .grid
                        h3 Despedida de los casados
                        p 9:00 PM - Los recién casados se despiden
                    img(src="assets/images/ring.png" alt="Anillo de boda")