// Verso
section.couple-section.section-padding.py-1
    .container
        .row
            .col.col-lg-6.col-lg-offset-3
                .section-title-s2
                    p.verse 1 Corintios 13:4-7
                    p 4 El amor es sufrido, es benigno; el amor no tiene envidia, el amor no es jactancioso, no se envanece; 5 no hace nada indebido, no busca lo suyo, no se irrita, no guarda rencor; 6 no se goza de la injusticia, mas se goza de la verdad. 7 Todo lo sufre, todo lo cree, todo lo espera, todo lo soporta.