// Verso
section.couple-section.section-padding.py-1
    .container
        .row
            .col.col-lg-6.col-lg-offset-3
                .section-title-s2
                    p.verse Eclesiastes 4:9-10
                    p 9 Mejores son dos que uno; porque tienen mejor paga de su trabajo. 10 Porque si cayeren, el uno levantará a su compañero; pero ¡ay del solo! que cuando cayere, no habrá segundo que lo levante.
