// Fecha de la boda
section.wedding-date.section-padding#date_wedding
    .container
        .row
            .col.col-xs-12
                .section-title
                    h2 Reserva la fecha
        .row
            .col.col-xs-12
                h3 15 Noviembre 2025
                .clock-grids
                    #clock