// Wishes
section.wishes-section
    .container
        .row
            .col.col-lg-8.col-lg-offset-2
                .text
                    p “ Samsa was a travelling salesman ... ”
                    h5 James Rose
                    span -Best friend