extends layout


block content
    include components/preloader
    include components/header

    //- Audio global
    audio#bg-music(autoplay loop muted playsinline)
        source(src="/assets/audio/musica.mp3" type="audio/mpeg")

    div#music-toggle
        i.fa.fa-music

    include components/hero
    include components/verse
    include components/wedding-date
    include components/story
    include components/couple
    include components/gift
    include components/rsvp
    include components/verse_2
    include components/gallery
    include components/footer